html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
  }
  #content {
    height: 100%;
  }
  #left {
    float: left;
    width: 30%;
    background: red;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5em;
  }
  #right {
    float: left;
    width: 70%;
    background: blue;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5em;
  }